<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <a href="../../public/newsImage"></a>
    <title>Document</title>
</head>
<body>
    <div class="header">
        <ul>
            <li><a href="/news">Home</a></li>
            <li><a href="/news/categories/610667a539d0ae068c5f1be6">Спорт</a></li>
            <li><a href="/news/categories/610667cf39d0ae068c5f1be8">Наука и технологии</a></li>
            <li><a href="/news/categories/610667e639d0ae068c5f1bea">Политика</a></li>
            <li><a href="/news/categories/6106684a39d0ae068c5f1bec">Экономика</a></li>
            <li><a href="/news/categories/6106684f39d0ae068c5f1bee">Культура</a></li>
        </ul>
    </div>
    {{{body}}}
    <div class="footer"></div>
    <style>
        * {
            background-color: #0c5163;
        }
        .header {
            width: 1300px;
            margin: 0 auto;
        }
        .header li{
            list-style-type: none;
        }
        .header ul {
            display: flex;
            justify-content: space-between;
        }
        .header a {
            color: white;
            padding: 5px;
            border-radius: 5px;
        }
        .header a:hover{
            background-color: #4EB1BA;
        }
        a {
            text-decoration: none;
        }
    </style>
</body>
</html>