<div class="container">
    <ul>
    {{#each data}}
    <li class="news_item">
        <a href="/news/{{_id}}">
            <h2>{{title}}</h2>
        </a><br>
        <img src="{{image}}" alt="">
    </li>
    {{/each}}
</ul>
</div>

<style>
    *{
        box-sizing: border-box;
    }
    .container {
        width: 1300px;
        margin: 0 auto
    }
    li img {
        width: 300px;
        height: 200px;
        border-radius: 10px;
    }
    .news_item {
        list-style-type: none;
        margin-top: 20px;  
        border: 1px solid orange; 
        border-radius: 5px;
        padding: 5px;
    }
    .news_item a {
      color: #E9E9E9;
    }
    .news_item a:hover {
      color: #4EB1BA;
    }
    h2 {
        margin: 0px;
    }
</style>
