<div class="container">
    <ul class="all_news">
        {{#each data}}
        <li class="news_item"><a href="/news/{{_id}}"><h2>{{title}}</h2></a></li>
        {{/each}}
    </ul>
    <div class="link_cont">
        <a class="link" href="/news?page=1&limit=5">1</a>
        <a class="link" href="/news?page=2&limit=5">2</a>
    </div>
</div>

<style>
    *{
        box-sizing: border-box;
    }
    .container {
        width: 1300px;
        margin: 0 auto
    }
    .link {
        color: white;
        border: 2px solid orange;
        padding: 4px;
        border-radius: 5px;
    }
    .link_cont {
        margin-left: 40px;
    }
    .news_item {
        list-style-type: none;
        margin-top: 20px;   
    }
    h2 {
        margin: 0px;
    }
    .all_news li {
      border: 1px solid orange; 
        border-radius: 5px;
        padding: 5px;
    }
    .all_news li a {
      color: #E9E9E9;
    }
    .all_news li a:hover {
      color: #4EB1BA;
    }
</style>